.messageBubbleMainContainer * {
    margin: 0;
    padding: 0;
}

.messageBubbleMainContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bubbleContentConatainer {
    /* margin-left: 10px; */
    width: 90%;
    /* border: 1px solid lime; */
}

.bubbleTextContainer {
    background-color: rgb(44, 44, 44);
    font-size: 12px;
    padding: 8px 15px 8px 8px;
    border-radius: 6px;
    color: #ececec;
    line-height: 15px;
    position: relative;
}

.verticalNavDots{
    position: absolute;
    right: 6px;
    top: 6px;
    color: #ececec;
    font-weight: bold;
}

.bubbleSenderName{
    font-weight: bold;
    color: #fff;
}

.groupAvatarContainer {
    width: 30px;
    height: 30px;
    /* border: 1px solid lime; */
}

.groupAvatarContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.bubbleBottomView{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 8px;
}

.bubbleActionsContainer{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addReaction{
    font-size: 20px;
    position: relative;
}

.reactionEmojiContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reactionsEmojis{
    /* border: 1px solid red; */
}

.reactionsEmojis span {
    /* margin: 0 1px 0 0; */
    /* margin-right: -10px;  */
    /* position: relative; */
    /* z-index: 1; */
    letter-spacing: -4px;
}

.cursorPointer{
    cursor: pointer;
}

.reactionsCount{
    margin-left: 6px;
    font-size: 14px;
}

.likedSpan{
    color: yellow;
}
.actionsContainer{
    position: absolute;
    right: 6px;
    top: 24px;
    background-color: rgb(44, 44, 44);
    border: 1px solid #6e6e6e;
    border-radius: 6px;
    z-index: 9999;
}

.actionsContainer > div{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 18px;
    cursor: pointer;
    font-size: 14px;
}

.actionsContainer > div:first-child{
    border-radius: 6px 6px 0 0;
}

.actionsContainer > div:last-child{
    border-radius: 0 0 6px 6px;
}


.actionsContainer > div:hover{
    background-color: #6e6e6e;
}

.actionsContainer img{
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.actionsContainer .actionIcons{
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.threadMessaagesContainer{
    margin-top: 10px;
}

.viewMessageText{
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #808080;
    cursor: pointer;
}

.lineBeforeViewReply{
    display: inline-block;
    width: 50px;
    height: 0;
    border: 1px solid #6e6e6e;
    margin-right: 8px;
}

.addvertisement{
    width: 110%;
    object-fit: cover;
    border-radius: 13px;
    margin-left: -40px;
    margin-top: 10px;
}