* {
    margin: 0;
    padding: 0;
}

.message_list_container {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
}

.back_button img {
    width: 20px;
    height: 20px;
}

.message_list_header {
    margin: 4px 0;
    height: 7%;
    padding: 8px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: rgb(44, 44, 44);
}

.back_button {
    cursor: pointer;
}

.message_list_header>p {
    font-size: 12px;
    max-height: 40px;
    overflow: hidden;
    white-space: wrap;
}

.message_list_container .messageList {
    width: 100%;
    overflow: hidden;
}

.group_icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.message_list_composer_container {
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(113, 113, 113);
    position: relative;
}

.message_list_composer_container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.message_list_composer_container .message_list_composer {
    display: flex;
    background-color: rgb(44, 44, 44);
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.message_list_composer_input_container{
    width: 100%;
    position: relative;
}

.message_list_composer_container .message_list_composer input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
    width: 90%;
}

.message_list_composer_container .message_list_composer input::placeholder {
    color: #a8a8a8;
}

.message_list_composer_container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reactionsContainer {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 30px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #8e8e8e;
    border-radius: 50px;
}

.reactionsContainer span {
    margin: 5px 3px;
    font-size: 16px;
}

.reactionsContainer span:first-child {
    margin-left: 7px;
}

.reactionsContainer span:last-child {
    margin-right: 7px;
}

.send_button_icon {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.laugh_emoji{
    cursor: pointer;
}

.emoji_keyboard_container{
    padding: 10px 30px;
}

.toogle_create_poll{
    position: absolute;
    top: 0;
    right: 0;
}

.create_poll_wrapper{
    position: absolute;
    width: 100%;
    right: 1px;
    height: 76vh;
    bottom: 10px;
    overflow: auto;
    background-color: rgb(44, 44, 44);
    border-radius: 12px;
}
