.navigation__container {
    height: 8vh;
    background-color: rgb(44, 44, 44);
    color: #fff;
}
.navigation__container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    height: 100%;
}

.navigation__container__nav span{
    margin-left: 30px;
}