.home__container {
    background-color: #000;
    height: 100%;
}

.home_iframe_wrapper{
    height: 92vh;
}

.home_container_iframe_container {
    max-height: 100%;
    height: 89%;
}

.iframe_container_text_container {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    max-height: 10%;
    height: 8%;
}

.iframe_content_tabbar{
    color: #a8a8a8;
}

.iframe_container_iframe {
    border: none;
    height: 92%;
    width: 100%;
}

.show_live_chat_button_wrapper {
    padding: 4px 30px 4px 0;
    display: flex;
    justify-content: flex-end;
    max-height: 10%;
    height: 5%;
}

.home_container_livechat_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.home_container_livechat_button .live_chat_icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 4px;
}