.home__container{
    background-color: #000;
}

.home_container_iframe_container{
    height: 92vh;
}

.iframe_container_text_container{
        color: #fff;
        text-align: center;
        padding: 10px 0
}

.iframe_container_iframe{
    border: none;
    height: 90%; 
    width: 100%; 
}

.home_container_livechat_button{
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 800px;
    cursor: pointer;
}
